In [27]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
training_size = 193573

In [29]:
df = pd.concat(
    map(pd.read_csv, ['train-PlayGround.csv', 'test-PlayGround.csv']), ignore_index=True)
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619.0
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387.0
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772.0
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666.0
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453.0
...,...,...,...,...,...,...,...,...,...,...,...
322618,322618,0.72,Ideal,D,VVS2,62.0,56.0,5.75,5.78,3.57,NaN
322619,322619,0.70,Premium,D,SI1,59.6,62.0,5.77,5.74,3.43,NaN
322620,322620,1.01,Premium,G,VVS2,62.3,58.0,6.44,6.41,4.01,NaN
322621,322621,1.35,Ideal,D,I1,62.0,56.0,7.05,7.08,4.38,NaN
322622,322622,1.07,Premium,H,SI2,62.6,60.0,6.49,6.45,4.06,NaN

In [30]:
df = pd.DataFrame(df)
df = df.drop(['id'], axis=1)

In [31]:
features = ["carat", "y","x","z","price"]

In [32]:
df = df[features]

In [33]:
df.describe()

,carat,y,x,z,price
count,322623.000000,322623.000000,322623.000000,322623.000000,193573.000000
mean,0.790115,5.718591,5.713894,3.533268,3969.155414
std,0.462613,1.102394,1.109519,0.689653,4034.374138
min,0.200000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,4.710000,4.700000,2.900000,951.000000
50%,0.700000,5.720000,5.700000,3.530000,2401.000000
75%,1.030000,6.510000,6.510000,4.030000,5408.000000
max,4.500000,10.140000,10.140000,31.800000,18818.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322623 entries, 0 to 322622
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   322623 non-null  float64
 1   y       322623 non-null  float64
 2   x       322623 non-null  float64
 3   z       322623 non-null  float64
 4   price   193573 non-null  float64
dtypes: float64(5)
memory usage: 12.3 MB

In [35]:
df.isna().sum()

carat         0
y             0
x             0
z             0
price    129050
dtype: int64

In [36]:
df.shape

(322623, 5)

In [37]:
df.head()

   carat     y     x     z    price
0   1.52  7.33  7.27  4.55  13619.0
1   2.03  8.12  8.06  5.05  13387.0
2   0.70  5.73  5.69  3.50   2772.0
3   0.32  4.41  4.38  2.71    666.0
4   1.70  7.61  7.65  4.77  14453.0

In [43]:
x = df.iloc[:training_size, :-1].values
y = df.iloc[:training_size, -1].values
z = df.iloc[training_size:, :-1].values

In [44]:
y

array([13619., 13387.,  2772., ...,  3036.,   681.,  2258.])

In [45]:
y = y.reshape(len(y),1)

In [48]:
y.shape

(193573, 1)

In [50]:
from xgboost import XGBRegressor
regressor = XGBRegressor()
regressor.fit(x, y)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [51]:
y_pred = regressor.predict(z)

In [53]:
y_pred = y_pred.round(2)

In [54]:
y_pred

array([ 755.85, 2965.21, 2617.83, ..., 5752.29, 7991.52, 5429.4 ],
      dtype=float32)

In [55]:
pd.DataFrame(y_pred).to_csv('PlayGround.csv')